<!-- templates/escola/base.html -->


<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escola</title>
    
    <!-- link para ficheiro styles.css com regras de estilização -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'escola/styles.css' %}">

</head>
<body>
    <header>
        <h1>Escola</h1>
        <nav>
            <a href="{% url 'home' %}">Início</a>
            {% if user.is_authenticated %}
                <span>Olá, <strong>{{ user.username }}</strong></span>
                {% if user.is_staff %} <a href="{% url 'admin:index' %}">Admin</a> {% endif %}
                <a href="{% url 'logout' %}">Sair</a>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'registo' %}">Registo</a>
                <a href="{% url 'pedir_magic_link' %}">Link Mágico</a>
            {% endif %}
        </nav>
    </header>


    <main>
        {% block content %}
        <!-- Conteúdo dinâmico -->
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2026</p>
    </footer>

</body>
</html>