<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfólio</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'portfolio/styles.css' %}">
</head>
<body>

<header>
    <h1>Portfólio Académico</h1>
    <nav>
        <a href="{% url 'projetos_view' %}">Projetos</a>
        <a href="{% url 'tecnologias_view' %}">Tecnologias</a>
        <a href="{% url 'ucs_view' %}">UCs</a>
        <a href="{% url 'docentes_view' %}">Docentes</a>
        <a href="{% url 'tfcs_view' %}">TFCs</a>
        <a href="{% url 'utilizadores_view' %}">Perfil</a>
        <a href="{% url 'licenciaturas_view' %}">Licenciaturas</a>
        <a href="{% url 'formacoes_view' %}">Formações</a>
        <a href="{% url 'competencias_view' %}">Competências</a>
        <a href="{% url 'repositorios_view' %}">Repositórios</a>
        <a href="{% url 'makingof_view' %}">Making Of</a>
    </nav>
</header>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>
    <p>&copy; 2026 - Portfólio</p>
</footer>

</body>
</html>