{% extends "portfolio/base.html" %}
{% block content %}
<h2>Licenciaturas</h2>
<section>
    {% for lic in licenciaturas %}
    <article>
        <header>
            <h3>{{ lic.nome }} {% if lic.sigla %}({{ lic.sigla }}){% endif %}</h3>
            <p>{{ lic.instituicao }}</p>
        </header>
        <section>
            <h4>Detalhes</h4>
            <p>{% if lic.duracao_anos %}Duração: {{ lic.duracao_anos }} anos{% endif %}</p>
            {% if lic.descricao %}<p>{{ lic.descricao }}</p>{% endif %}
        </section>
    </article>
    {% empty %}
        <p>Sem licenciaturas.</p>
    {% endfor %}
</section>
{% endblock %}